        <div class="col-xs-12 col-sm-6 col-md-3">    
            <div class="profile-item polaroid">
                <div class="profile-header">
                    <h2 class="profile-title">{{vendorObj.serProviderName}}</h2>
                    <div class="profile-ratings pull-right">
                        <!--<ul data-toggle="tooltip" title="Ratings">
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        </ul>-->
<star-rating-comp [starType]="'svg'" [rating]="3" [labelPosition]="'top'"></star-rating-comp>

                    </div>
                        <p class="pull-left"><a href="" data-toggle="tooltip" title="Likes"><i class="glyphicon glyphicon-thumbs-up icon-size pull-left"></i>24</a><a href="" data-toggle="tooltip" title="Views" class="tip" data-placement="top"><i class="glyphicon glyphicon-eye-open icon-size pull-left"></i></a></p>
                    <div class="main-img zoomout">
                        <img src="./assets/images/350x260.png" class="img-responsive img-rounded">
                    </div>
                </div>
                <div class="profile-info">
                    <div class="profile-location">
                        <p data-toggle="tooltip" title="Contact now"><a href=""><i class="glyphicon glyphicon-earphone icon-size pull-right"></i></a></p>
                        <p><span class="glyphicon glyphicon-map-marker icon-size"></span>{{vendorObj.serProviderCity | uppercase}}</p>
                    </div>
                    <div class="profile-actions">
                    </div>
                </div>
            </div>
        </div>
